/**
 * @name Black Theme
 * @author Re_tardant
 * @authorLink https://www.instagram.com/adamcvikl.py/
 * @website https://github.com/Retardantt/DiscordTheme.git
 * @source https://raw.githubusercontent.com/Retardantt/DiscordTheme/master/Retardant'sBlackTheme.theme.css
 * @invite 
 * @donate https://paypal.me/retardant
 * @patreon
 * @changeLog 
 * @version 1.2
 * @description Made with love by Re_tardant.
 */


/*THIS THEME IS BASED ON CLEARVISION V6.0.0*/


/* IMPORT CSS */
@import url(https://clearvision.gitlab.io/v6/main.css);
@import url("https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css");
/* An horizontal server list made by Gibbu */
@import url("https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css");  /* Radial Status */
/*@import url("https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css");   /* Hide user panel */ 

/* SETTINGS */



:root {
	




	/* ACCENT COLORS */
	--main-color: rgb(255, 0, 0); /* main accent color (hex, rgb or hsl) [default: #2780e6] */
	--hover-color: #ffffff80; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
	--success-color: #ffffff; /* success accent color (hex, rgb or hsl) [default: #43b581] */
	--danger-color: #ffffff; /* danger accent color (hex, rgb or hsl) [default: #982929] */

	/* STATUS COLORS */
	--online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
	--idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	--dnd-color: #f04747; /* dnd status color (hex, rgb or hsl) [default: #f04747] */
	--streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	--offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

	/* GENERAL */
	--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; /* main font for app (font must be installed) [default: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif] */
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
	--server-columns: 0; /* amount of server list columns [default: 1] */
	--channels-width: 280px; /* channel list width (240px for Discord default) [default: 220px] */
	--members-width: px; /* member list width [default: 240px] */
	--avatar-roundness: %; /* avatar roundness (0% for squares, 50% for circles) [default: 50%] */

	/* APP BACKGROUND */
	--background-image: none;
	--background-shading: 0%; /* app background shading (0 for complete smoothness) [default: 100%] */
	--background-overlay: rgb(0, 0, 0); /* app background color/gradient [default: rgb(0, 0, 0,] */
	--background-position: center; /* app background position [default: center] */
	--background-size: cover; /* app background size [default: cover] */
	--background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
	--background-attachment: fixed; /* app background attachment [default: fixed] */
	--background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--background-contrast: 100%; /* app background contrast [default: 100%] */
	--background-saturation: 100%; /* app background saturation [default: 100%] */
	--background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
	--background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
	--background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
	--background-blur: 0px; /* app background blur [default: 0px] */
	
	/* HOME BUTTON ICON */
	--home-icon: url(https://i.ibb.co/FzxwXMK/kali-red.png);/* home button icon (link must be HTTPS) [default: url(https://i.ibb.co/FzxwXMK/kali-red.png)]*/
	--home-position: center; /* home button icon position [default: center] */
	--home-size: 50px; /* home button icon size [default: 50px] */
	
	/* MODAL BACKDROP */
	--backdrop-overlay: rgb(17, 17, 17);/* modal backdrop overlay color/gradient [default: rgb(0, 0, 0] */
	--backdrop-position: var(--background-position); /* modal backdrop position [default: var(---background-position)] */
	--backdrop-size: var(--background-size); /* modal backdrop size [default: var(---background-size)] */
	--backdrop-repeat: var(--background-repeat); /* modal backdrop repeat [default: var(---background-repeat)] */
	--backdrop-attachment: var(--background-attachment); /* modal backdrop attachment [default: var(--background-attachment)] */
	--backdrop-brightness: var(--background-brightness); /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--backdrop-contrast: var(--background-contrast); /* modal backdrop contrast [default: var(---background-contrast)] */
	--backdrop-saturation: var(--background-saturation); /* modal backdrop saturation [default: var(---background-saturation)] */
	--backdrop-invert: var(--background-invert); /* modal backdrop invert (0 - 100%)  [default: var(---background-invert)] */
	--backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale ( 0 - 100%) [default: var(---background-grayscale)] */
	--backdrop-sepia: var(--background-sepia); /* modal backdrop sepia (0 - 100%) [default: var(---background-sepia)] */
	--backdrop-blur: var(--background-blur); /* modal backdrop blur [default: var(--background-blur)] */
	
	/* USER POPOUT BACKGROUND */
	--user-popout-overlay: rgb(0, 0, 0);
	--user-popout-position: var(--background-position); /* user popout background position [default: var(---background-position)] */
	--user-popout-size: var(--background-size); /* user popout background size [default: var(---background-size)] */
	--user-popout-repeat: var(--background-repeat); /* user popout background repeat [default: var(---background-repeat)] */
	--user-popout-attachment: var(--background-attachment); /* user popout background attachment [default: var(--background-attachment)] */
	--user-popout-brightness: var(--background-brightness); /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-popout-contrast: var(--background-contrast); /* user popout background contrast [default: var(---background-contrast)] */
	--user-popout-saturation: var(--background-saturation); /* user popout background saturation [default: var(---background-saturation)] */
	--user-popout-invert: var(--background-invert); /* user popout background invert (0 - 100%) [default: var(---background-invert)] */
	--user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-popout-sepia: var(--background-sepia); /* user popout background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-popout-blur: calc(var(--background-blur) + px); /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
	
	/* USER MODAL BACKGROUND */
	--user-modal-overlay: rgb(0, 0, 0);
	--user-modal-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-modal-position: var(--background-position); /* user modal background position [default: var(---background-position)] */
	--user-modal-size: var(--background-size); /* user modal background size [default: var(---background-size)] */
	--user-modal-repeat: var(--background-repeat); /* user modal background repeat [default: var(---background-repeat)] */
	--user-modal-attachment: var(--background-attachment); /* user modal background attachment [default: var(--background-attachment)] */
	--user-modal-brightness: var(--background-brightness); /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-modal-contrast: var(--background-contrast); /* user modal background contrast [default: var(---background-contrast)] */
	--user-modal-saturation: var(--background-saturation); /* user modal background saturation [default: var(---background-saturation)] */
	--user-modal-invert: var(--background-invert); /* user modal background invert (0 - 100%) [default: var(---background-invert)] */
	--user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-modal-blur: calc(var(--background-blur) + px); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */
	
	/* THEME BD COLORS */
	--bd-blue: var(--main-color); /* betterdiscord main color [default: var(--main-color)] */
	--bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
	--bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */
	
	/*  STATUSES  */
  --rs-small-spacing: 0px;  /* spacing between avatar and status */
  --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles */
  --rs-width: 3px;  /* Width/thickness of status border */
  --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
  --rs-online-color: #43b581;  /* color for online status */
  --rs-idle-color: #faa61a;  /* color for idle status */
  --rs-dnd-color: #f04747;  /* color for dnd status */
  --rs-offline-color: #636b75;  /* color for offline status */
  --rs-streaming-color: #643da7;  /* color for streaming status */
  --rs-invisible-color: rgb(255, 0, 255);  /* color for invisible status - Note this will only show for your own invisibility */
  --show-gift-gif-buttons: none; /* show gift gif buttons */
  
  	/*  GRADIENT  */
  --gradient-primary: 255, 255, 255; /*0, 255, 229*/
  --gradient-secondary: 255, 0, 0; /*194, 0, 191*/
  --gradient-direction: 215deg; /*215deg*/
  
  --gradient-primary2: 255, 0, 0; /*194, 0, 191*/
  --gradient-secondary2: 255, 255, 255; /*0, 255, 229*/
  --gradient-direction2: 215deg; /*215deg*/
  
  --gradient: linear-gradient(var(--gradient-direction), rgb(var(--gradient-primary)), rgb(var(--gradient-secondary)));
  --gradient2: linear-gradient(var(--gradient-direction2), rgb(var(--gradient-primary2)), rgb(var(--gradient-secondary2)));
  --gradient-20: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.2), rgba(var(--gradient-secondary), 0.2));
  --gradient-50: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.5), rgba(var(--gradient-secondary), 0.5));
  --gradient-90: linear-gradient(var(--gradient-direction), rgba(var(--gradient-primary), 0.9), rgba(var(--gradient-secondary), 0.9));
  
}

.form-2fGMdU .buttonWrapper-1ZmCpA.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN.noFocus-2C7BQj {
  display: var(--show-gift-gif-buttons);
}

.typeWindows-1za-n7 > .wordmark-2iDDfm:after{content:"v1.2"} 
.container-3baos1:before {content:"Re_tardant's Black Theme"}
.container-3baos1:after {content:"v1.2"}
.typeWindows-1za-n7 > .wordmark-2iDDfm:before {content: "Re_tardant's Black Theme"}


/*google translate pluggin*/
.theme-dark .themedPopout-1TrfdI {background-color: var(--background-overlay) !important;}
  

#app-mount .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU {
  background: var(--gradient) !important;
}

::-webkit-scrollbar {
  width: px !important;
  height: px !important;
}

.name-IbjUBS:before{
	background: var(--gradient) !important;
}

.name-IbjUBS:after{
	background: var(--gradient2) !important;
}

.item-2hkk8m {
	background: #ffffff
}

.channelTextArea-rNsIhG .scrollableContainer-2NUZem:focus-within {
    border: 2px solid #ffffff;
    border-image: linear-gradient(120deg, #ff0000, #ffffff ) 1;
    border-radius: 5px;
}


/* Unread Channels */
.wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .icon-1_QxNX,
.wrapper-1ucjTd.modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg {
  background: -webkit-linear-gradient(110deg, #c20000, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
